@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /* ## Colors */

    /* ### Neutral */

    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);

    /* Fuentes */
    --fuentePrincipal: "Epilogue", sans-serif; /* Corregido el nombre de la variable */
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; 
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

/* Globales */
body{
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
}
p{
    font-size: 1.8rem;
}
img {
  width: 100%;
  height: auto;
}

.navbar.dropdown-menu {
  color:var(--MediumGray);
  font-weight: 500;
}
.dropdown-menu{
  font-size: 1.5rem;
}
.navbar-brand {
  margin-right: 4.5rem;
}


/* Hero */

.hero-contenedor {
  display:grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 9rem;
  padding: 2rem;
  margin-top: 4rem;
align-items: center;
}

.hero-info{
  padding: 0 0 0 7rem
}
.hero-img {
  padding: 0 7rem 0 0;

}

.hero-info_titulo {
  font-size: 8rem;
  font-weight: 700;
}